/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    /* So when height and width is applied to an element it is applied to the entire element including the border */
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    /* So elements show underneath each other, adds to all elements unless specified */
    display: flex;
    flex-direction: column;
    /* Generic project styles*/
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    background-color: #87cefa;
    /* Padding to prevent text from sticking to the screen */
    padding: 0 1rem;
    /* So the bar scrolls along */
    position: fixed;
    /* High z-index so its layered on top of other elements */
    z-index: 99;
    /* make the header fill the width of the screen */
    width: 100%;
    /* Make header and drop down menu appear in a row */
    display: flex;
    /* add space between heading and toggle */
    justify-content: space-between;
    /* Make sure items show in a line vertically */
    align-items: baseline;
}

/* Remove lines from header links and change default colour */
header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'anton', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
}

/* Navigation section */
#menu ul{
    font-size: 110%;
    letter-spacing: 4px;
    /* Remove bullet points */
    list-style-type: none;
}

/* Navbar styles with drop down toggle */
nav {
    /* Takes nav element out of the header */
    position: absolute;
    /* Add same colour as the header to make it appear like the same object when open */
    background-color: #87cefa;
    /* Resize the navbar the same as the header */
    width: 100%;
    left: 0;
    padding: 0 1rem;
    /* Hide navbar items until the user clicks to open them */
    display: none;
    /* Stop the navbar covering the header when checked, tells navigation element that the top of the element should start at the bottom of its parent */
    top: 100%;
}

/* Nav toggle */
/* ~ to target the adjoining nav element */
#nav-toggle:checked~nav {
    display: block;
}

/* Hides checkbox */
#nav-toggle {
    display: none;
}

/* Make label larger so its easier to tap */
#nav-toggle-label {
    font-size: 3rem;
}

/* Main section */
main {
    background-color: #fcedda;
    /* Make main element take up any surplus space */
    flex: 1 0 auto;
    /* Push content down so it starts below the header */
    margin-top: 95px;
}

h2 {
    font-size: 2rem;
}

.text-center{
    text-align: center;
}

/* Footer */

/* Media queries */
@media screen and (min-width: 768px){
    #navbar ul{
        display: flex;
        justify-content: space-evenly;
    }
}