/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    /* So when height and width is applied to an element it is applied to the entire element including the border */
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    /* So elements show underneath each other, adds to all elements unless specified */
    display: flex;
    flex-direction: column;
    /* Generic project styles*/
    color: #ffdab9;
    font-family: 'Roboto', sans-serif;
}

/* Navigation section */
nav {
    background-color: white;
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #8AAAE5;
}
/* Remove bullet points */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0; 
}
/* Header */
header {
    height: 500px;
    width: 100%;
    background: url("../images/Wakeboarder.jpg") no-repeat center center/cover;
    font-family: 'Anton', sans-serif;
    padding: 0;
    margin: 0;
}


h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
}

.text-center{
    text-align: center;
}

/* Footer */

/* Media queries */
@media screen and (min-width: 768px){
    #navbar ul{
        display: flex;
        justify-content: space-evenly;
    }
}